make-blueprints/01-realtime-watcher.json
{
  "name": "Namkhan BI · Realtime Gmail watcher (book@/wm@/reservations@)",
  "flow": [
    {
      "id": 1,
      "module": "google-email:ActionWatchEmails",
      "version": 2,
      "parameters": {
        "__IMTCONN__": "REPLACE_WITH_YOUR_GMAIL_CONNECTION_ID",
        "folder": "INBOX",
        "criteria": {
          "query": "newer_than:1d",
          "labels": []
        },
        "markSeen": false,
        "limit": 50
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": { "label": "REPLACE WITH MAILBOX (book@/wm@/reservations@)" }
          }
        },
        "expect": [
          { "name": "folder", "type": "folder", "label": "Folder" },
          { "name": "markSeen", "type": "boolean", "label": "Mark messages as read" },
          { "name": "criteria", "type": "collection", "label": "Criteria",
            "spec": [
              { "name": "query", "type": "text", "label": "Gmail search query" },
              { "name": "labels", "type": "array", "label": "Labels" }
            ]
          },
          { "name": "limit", "type": "uinteger", "label": "Limit" }
        ]
      }
    },
    {
      "id": 2,
      "module": "util:FunctionSetVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          { "name": "from_full",   "value": "{{1.from.address}}{{ifempty(1.from.name, '', ' (' + 1.from.name + ')')}}" },
          { "name": "to_list",     "value": "{{join(map(1.to;'address');',')}}" },
          { "name": "cc_list",     "value": "{{join(map(1.cc;'address');',')}}" },
          { "name": "mailbox",     "value": "{{1.to[].address}}" },
          { "name": "msg_id_hdr",  "value": "{{1.messageId}}" },
          { "name": "thread_id",   "value": "{{1.threadId}}" },
          { "name": "in_reply",    "value": "{{1.inReplyTo}}" },
          { "name": "received_at", "value": "{{formatDate(1.date; 'YYYY-MM-DDTHH:mm:ssZ')}}" }
        ]
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "expect": [
          { "name": "variables", "spec": [
            { "name": "name", "type": "text", "label": "Name" },
            { "name": "value", "type": "text", "label": "Value" }
          ], "type": "array", "label": "Variables to set" }
        ]
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": true, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "https://namkhan-bi.vercel.app/api/sales/email-ingest",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          { "name": "X-Make-Token",    "value": "REPLACE_WITH_MAKE_INGEST_TOKEN" },
          { "name": "Content-Type",    "value": "application/json" }
        ],
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "",
        "shareCookies": false,
        "ca": "",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "contentType": "application/json",
        "data": "{\n  \"direction\":     \"inbound\",\n  \"mailbox\":       \"{{2.mailbox}}\",\n  \"from\":          \"{{1.from.address}}\",\n  \"to\":            \"{{2.to_list}}\",\n  \"cc\":            \"{{2.cc_list}}\",\n  \"subject\":       \"{{replace(1.subject;'\\\"';'\\\\\\\"')}}\",\n  \"body_text\":     \"{{replace(1.text;'\\\"';'\\\\\\\"')}}\",\n  \"body_html\":     \"{{replace(1.html;'\\\"';'\\\\\\\"')}}\",\n  \"received_at\":   \"{{2.received_at}}\",\n  \"message_id\":    \"{{2.msg_id_hdr}}\",\n  \"thread_id\":     \"{{2.thread_id}}\",\n  \"in_reply_to\":   \"{{2.in_reply}}\",\n  \"gmail_msg_id\":  \"{{1.id}}\",\n  \"ingest_source\": \"make.gmail.realtime\"\n}"
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "expect": [
          { "name": "url", "type": "url", "label": "URL" },
          { "name": "method", "type": "select", "label": "Method", "options": [{"value":"post","label":"POST"}] },
          { "name": "data", "type": "buffer", "label": "Request content" }
        ]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "eu2.make.com"
  }
}
